@media screen and (min-width:780px) and ( max-width:812px) {
  nav#admin-menubar {
    background-color: rgba( 255,11,0 , 0.39 );
  }
  .member-control {
    color: red;
    font-weight: normal;
    font-size: 250%;
    border-bottom: 3px solid #88c;
    margin-bottom: 0.5em;
    padding-left: 295px;
    margin-left: -20px;
  }
  .articles-create {
    font-size: 250%;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .admin-user-title {
    color: red;
    font-weight: normal;
    font-size: 265%;
    border-bottom: 3px solid #88c;
    margin-bottom: 0.5em;
    padding-left: 295px;
    margin-left: -20px;
  }
  .article-new {
    font-size: 250%;
    padding-left: 30px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width:1281px) {
  nav#admin-menubar {
    background-color: rgba( 255,11,0 , 0.39 );
    }
  .admin-user-title {
    color: red;
    font-weight: normal;
    font-size: 150%;
    border-bottom: 3px solid #88c;
    margin-bottom: 0.5em;
  }
}
