@media screen and (min-width:780px) and ( max-width:812px) {
.top-title {
  background-color: rgba( 255,0,0 , 0.79 );
  font-size: 40px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 3px;
  margin-top: 10px;
  margin-left: 10px;
  }
}

@media screen and (min-width:1281px) {
  .top-title {
    background-color: rgba( 255,0,0 , 0.79 );
    font-size: 40px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 3px;
    margin-top: 10px;
    margin-left: 0px;
  }
}
