<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | For helth product</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=780">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div id="container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
        <%= yield %>
      </main>
      <aside id="sidebar">
        <%= render "shared/sidebar" %>
      </aside>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>
